.RecivedMassage {
    border:2px solid black;
    margin: 10px; 
    background: lightseagreen;
    padding: 10px;
}

.SentMassage{
    border:2px solid black;
    margin: 10px;
    background: lightgreen;
    padding: 10px;
}

.WriteNewMassage{
    border: 2px solid black;
    border-radius: 12px;
    background: mediumseagreen;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    width: 35%;
    height: 60%;
    margin-right: 25%;
}

.WriteNewMassageBtn{
    background: transparent;
    pointer-events: none;
}

.UserInChoseUserMenu{
    cursor: pointer;
}
.UserInChoseUserMenu:hover{
    border:1px solid black;
    border-left:solid transparent;
    border-right:solid transparent;
}


.AddContactsToGroupDiv{
    border: 2px solid black;
    text-align: left;
    padding: 10px;
}

#HeaderLeft{
    font-weight: 500;
    position: absolute;
    left: 20px;

}

#HeaderRight{
    font-weight: 500;
    position: absolute;
    right: 20px;
}

#ChatsPageSecondRow{
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
}

#OpenGroupChatButton{
    border: 2px solid black;
    border-radius: 12px;
    background: rgb(175, 12, 220);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    width: 35%;
    height: 60%;
    
}